*{
    margin:0;
}
body{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content:flex-start;
}
h4{
    text-align: left;
}
.content{    
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 50px;
}
.box{
    padding-left: 20px;
    background-color: rgb(242, 242, 242);
    text-align: left;
    height: 40vh;
    margin: 10px;
}
@media screen and (max-width: 1200px) {
    .box {
        width: 70vw;
    }
}
@media screen and (min-width: 1200px) {
    .box {
        width: 42vw;
    }
}